{
  "presets": [
    "env",
    "react",
    "stage-0",
    "flow"
  ],
  "plugins": [
    [
      "transform-runtime",
      { "polyfill": false, "regenerator": true }
    ],
    [
      "replace-require",
      { "HULL_CONNECTOR_DEV": "require('hull-connector-dev/require')" },
      { "HULL_CONNECTOR": "require('hull-connector/require')" }
    ]
  ],
  "ignore": [
    "specs"
  ]
}
