{
  "presets": [
    "env",
    "react",
    "stage-0",
    "flow"
  ],
  "plugins": [
    ["replace-require", { "HULL_CONNECTOR": "require('hull-connector-dev/require')" }]
  ],
  "ignore": [
    "specs"
  ]
}
